body {
    font-family: Arial,script;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: hsl(345, 61%, 41%);
    color: black;
    
    cursor: pointer;
}
form button:hover {
    background-color: hsl(200, 61%, 33%);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.actions button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.actions button:hover {
    text-decoration:solid;
}
